@font-face {
  font-family: "Nunito Sans";
  font-weight: bold;
  src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.28);
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0 !important;
  color: #333;
  font-size: 14px;
  background: #f5f5f6;
  display: flex;
  flex-direction: column;
}

.c-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 160px);
  max-width: 1600px;
  padding: 0 80px;
}
@media (max-width: 1200px) {
  .c-container {
    padding: 0 40px;
    width: calc(100% - 80px);
  }
}
@media (max-width: 768px) {
  .c-container {
    padding: 0 24px;
    width: calc(100% - 48px);
  }
}
@media (max-width: 560px) {
  .c-container {
    padding: 0 16px;
    width: calc(100% - 32px);
  }
}

.c-body {
  width: 100%;
  height: 100%;
  margin-top: 48px;
}
@media (max-width: 560px) {
  .c-body {
    margin-top: 88px;
  }
}

.c-header {
  height: 48px;
  background: #d81e5b;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 989999999;
}
.c-header__container {
  flex-direction: row;
  align-items: center;
}
.c-header__logo {
  width: 93px;
}
.c-header__text {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  color: white;
  margin-top: 3px;
}

.c-breadcrumb {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.c-breadcrumb__container {
  flex-direction: row;
  align-items: center;
}
.c-breadcrumb__link {
  color: #999;
  font-size: 12px;
}
.c-breadcrumb__link--active {
  font-weight: bold;
  color: #d81e5b;
}
.c-breadcrumb__arrow {
  margin: 0 10px;
}
@media (max-width: 560px) {
  .c-breadcrumb {
    position: fixed;
    background: #fff;
    top: 48px;
    box-shadow: 0 4px 12px 0 rgba(4, 4, 4, 0.2);
    height: 40px;
    z-index: 99999;
  }
}

.c-footer {
  background: #d81e5b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-footer__logo {
  width: 120px;
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .c-footer__logo {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .c-footer__logo {
    width: 100px;
    padding: 30px 0;
  }
}